<!DOCTYPE html>
<html lang="en" ng-app="MeetingCost">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>How Much Does This Meeting Cost?</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <div class="container" ng-controller="MeetingCostController">

        <!-- Static navbar -->
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!--<a class="navbar-brand" href="#">How Much Does This Meeting Cost?</a>-->
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contact</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li class="dropdown-header">Nav header</li>
                                <li><a href="#">Separated link</a></li>
                                <li><a href="#">One more separated link</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
            <!--/.container-fluid -->
        </nav>
        <script type="text/javascript">
            function testing(element) {
                console.log(element);
            };
        </script>
        <!-- Begin main body content -->
        <div class="row">
            <div class="col-md-8">
                <div class="page-header">
                    <h1>How much does this meeting cost?</h1>
                    <p>Ever been in a meeting that just keeps dragging on and on? Maybe if everyone knew how much that time was costing the company, they'd get to the dam point faster.</p>
                    <p>Use the calculator to enter everyone's hourly rate and see just how much this meeting costs $$$</p>
                </div>
                <div ng-hide="hasTotal">
                    <br />
                    <h2>Use the calculator to enter hourly rates ---></h2>
                </div>
                <table class="table table-bordered" ng-show="hasTotal">
                    <thead>
                        <tr>
                            <th>$ Per Hour</th>
                            <th>$ Per Minute</th>
                            <th>$ Per Second</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="rate in rates">
                            <td>{{rate | currency}}</td>
                            <td>{{rate / 60 | currency}}</td>
                            <td>{{rate / 60 / 60 | currency}}<a href="#" class="pull-right" ng-click="deleteRow($index)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>
                            <!--
                               <td>
                                <button type="button" class="btn btn-link btn-sm" aria-label="remove row">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                </button>
                            </td>
                            -->
                        </tr>
                        <tr class="success">
                            <td>{{totalRate | currency}}</td>
                            <td>{{totalRate / 60 | currency}}</td>
                            <td>{{totalRate /60 / 60 | currency}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- End summation table -->
            <div class="col-md-4 well">
                <!-- Begin Calc on left -->
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-9 text-right">
                                <span id="calcDisplay" class="form-control">{{calculatorDisplay | currency}}</span>
                            </div>
                            <div class="col-md-3">
                                <button class="btn btn-default pull-right" ng-click="onClickClear()">Clear</button>
                            </div>
                        </div>
                    </div>
                </div>

                <table class="table">
                    <!--
                    <thead>
                        <tr>
                            <td colspan="2">
                                <input type="text" class="form-control text-right" ng-model="calculatorDisplay" readonly>
                            </td>
                            <td>
                                <button class="btn btn-default btn-block" ng-click="onClickClear()">Clear</button>
                            </td>
                        </tr>
                    </thead>
                -->
                    <tbody>
                        <tr>
                            <td>
                                <button class="btn btn-default btn-block" value="1" ng-click="updateOutput(1)">1</button>
                            </td>
                            <td>
                                <button class="btn btn-default btn-block" value="2" ng-click="updateOutput(2)">2</button>
                            </td>
                            <td>
                                <button class="btn btn-default btn-block" value="3" ng-click="updateOutput(3)">3</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button class="btn btn-default btn-block" value="4" ng-click="updateOutput(4)">4</button>
                            </td>
                            <td>
                                <button class="btn btn-default btn-block" value="5" ng-click="updateOutput(5)">5</button>
                            </td>
                            <td>
                                <button class="btn btn-default btn-block" value="6" ng-click="updateOutput(6)">6</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button class="btn btn-default btn-block" value="7" ng-click="updateOutput(7)">7</button>
                            </td>
                            <td>
                                <button class="btn btn-default btn-block" value="8" ng-click="updateOutput(8)">8</button>
                            </td>
                            <td>
                                <button class="btn btn-default btn-block" value="9" ng-click="updateOutput(9)">9</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button class="btn btn-default btn-block" value="." ng-click="updateOutput('.')">.</button>
                            </td>
                            <td>
                                <button class="btn btn-default btn-block" value="0" ng-click="updateOutput(0)">0</button>
                            </td>
                            <td>
                                <button class="btn btn-success btn-block" value="+" ng-click="onClickPlus()">+</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- End calculator col -->
        </div>
        <!-- End main content Row -->
    </div>
    <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.2/angular.min.js"></script>
    <script src="js/MeetingCost.js"></script>
</body>

</html>